/* .form-control i {
  position: absolute;
}

.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control small {
  color: #e74c3c;
  display: none;
}

.form-control.error small {
  display: block;
} */